<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Codebaseclient>
            <version>1.0.0</version>
        </Wage_Codebaseclient>
    </modules>
    <admin>
        <routers>
            <codebaseclient>
                <use>admin</use>
                <args>
                    <module>Wage_Codebaseclient</module>
                    <frontName>codebaseclient</frontName>
                </args>
            </codebaseclient>
        </routers>
    </admin>
    <global>
        <helpers>
            <codebaseclient>
                <class>Wage_Codebaseclient_Helper</class>
            </codebaseclient>
        </helpers>
        <blocks>
            <codebaseclient>
                <class>Wage_Codebaseclient_Block</class>
            </codebaseclient>
        </blocks>
        <models>
            <codebaseclient>
                <class>Wage_Codebaseclient_Model</class>
                <resourceModel>codebaseclient_mysql4</resourceModel>
            </codebaseclient>
            <codebaseclient_mysql4>
                <class>Wage_Codebaseclient_Model_Mysql4</class>
                <entities>
                    <tickets>
                        <table>codebaseclient_tickets</table>
                    </tickets>
                    <refreshtime>
                        <table>codebaseclient_refreshtime</table>
                    </refreshtime>
                </entities>
            </codebaseclient_mysql4>
        </models>
        <resources>
            <codebaseclient_setup>
                <setup>
                    <module>Wage_Codebaseclient</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codebaseclient_setup>
            <codebaseclient_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codebaseclient_write>
            <codebaseclient_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codebaseclient_read>
        </resources>
    </global>

    <crontab>
        <jobs>
            <fetchTickets>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>codebaseclient/codebaseclient::getTickets</model></run>
            </fetchTickets>
        </jobs>
    </crontab>

    <adminhtml>       
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <codebaseclient translate="title" module="codebaseclient">
                                    <title>Codebase Report</title>
                                    <action>codebase/adminhtml_tickets</action>
                                </codebaseclient>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <codebaseclient>
                    <file>codebaseclient.xml</file>
                </codebaseclient>
            </updates>
        </layout>
    </adminhtml>
</config> 
